.container_contact {
    width: 100%;
  
    display: flex;
  
    justify-content: center;
  }
  .contact {
    width: 95%;
  }
  .contact_let {
  }
  .contact_let h3 {
    margin: 10px 0;
  
    padding: 16px 0;
  
    font-weight: 400;
  
    font-size: 24px;
  }
  .contact_let p {
    font-family: Verdana, sans-serif;
  
    font-size: 15px;
  
    margin: 15px 0;
  }
  .contact_input {
    display: flex;
  
    flex-direction: column;
  }
  .contact_input input {
    padding: 8px;
  
    margin-bottom: 16px;
  }
  .contact_input button {
    width: 150px;
  
    height: 40px;
  
    background-color: black;
  
    color: white;
  }
  .contact_input button:hover{
      
  background-color: #ccc;
      
  color: black;
      
  border: 0;
  }