.container_about {
    width: 100%;
    /* position: absolute; */
    display: flex;
    justify-content: center;
  }
  .about {
    /* position: absolute; */
    /* left: 50%; */
    width: 95%;
    /* transform: translateX(-50%); */
  }
  .about_let {
    margin: 32px 0px;
  }
  .about_let h3 {
    margin: 10px 0;
  
    padding: 16px 0;
  
    font-size: 24px;
  
    font-weight: 400;
  }
  .about_let p {
    margin: 15px 0;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    text-align: justify;
  }
  .about_imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-img h3 {
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
  }
  .about-img img {
    width: 260px;
  }
  .p1 {
    margin: 15px 0;
  
    font-size: 15px;
  
    opacity: 0.6;
  
    font-family: Verdana, sans-serif;
  
    line-height: 1.5;
  }
  .p2 {
    margin: 15px 0;
  
    font-size: 15px;
  
    font-family: Verdana, sans-serif;
  
    line-height: 1.5;
  }
  .about-img button {
      
  background-color: #f1f1f1;
      
  font-size: 15px;
      
  color: #000;
      
  padding: 8px 16px;
      
  font-family: Verdana,sans-serif;
      
  line-height: 20px;
      
  width: 250px;
      
  height: 40px;
      
  border: 0;
  }
  .about-img button:hover{
    background-color: #cccccc;
    color: #000;
  }
  .about-img{
      width: 260px;
  }